@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
:root { 
    --backgroundColor: #000000;
    --accentColor-dark: rgb(48, 62, 52);
    --accentColor-light2: rgba(107, 99, 124, 0.24);
    --accentColor-light: rgb(164, 152, 173);
    --skyFont-family: 'Audiowide';
}
.tee-hee-secrets {
  background: linear-gradient(180deg, #ffffff 0%, #ffc6dd 100%);
}
body.tee-hee-secrets h1 {
    font-family: cursive;

}
body.tee-hee-secrets .MAIN {
    border: rgba(106, 75, 111, 0.27) solid 1px;
    font-family: cursive;
    font-size: 1.2rem;
  background: linear-gradient(0deg, #ffffff82 0%, #ffffff86 100%);
}
body.tee-hee-secrets input,
body.tee-hee-secrets textarea {
    background-color: var(--accentColor-light2);
}

.navigation {
    display: flex;
    justify-content:flex-start;
    background-color: var(--accentColor-light2);
    padding: 1rem;
  }
  .nav-item {
    margin: 0 1rem;
  }

  .nav-item a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  .nav-item a:hover {
    text-decoration: underline;
  }

body {
    background: var(--backgroundColor);
    margin: 0;
    color: var(--accentColor-dark);
    font-family: var(--skyFont-family);
    font-size: 1rem;
    font-weight: 300;
    /* font-family:'Zen Dots', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
}


.sha_env {
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000; /* Keeps it above other content */
  background-color: rgba(0, 0, 0, 0.411);
  color: white;
  font-family: var(--skyFont-family);
  text-align: right;
  pointer-events: none;
}

.agentRow {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    font-weight: 300;
    letter-spacing: .5rem;
    font-size: 1.2rem;
    border-bottom: .05rem solid black;
    text-transform: uppercase;
}

main {
    margin: 0.5rem;
  gap: 10px;            /* Adds space between items */
    display: flex;
}

.NAVIGATION {
    width: 275px;
    display: flex;
    flex-direction: column;
}

.MAIN {
    flex: 1;
    padding: 1rem;  
    border: 1px solid var(--accentColor-light2);
    background-color: #ffffff1c;
    color: rgba(255, 255, 255, 0.49);
}

header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.2rem;
    width: 100%;
    background: linear-gradient(180deg, black, rgb(37, 37, 37));
}

header h1 {
    display: inline-block;
    position: absolute;
    margin: 0rem 1rem;
    font-weight: 300;
    letter-spacing: .5rem;
    font-size: 2rem;
    color: white;
}

HEADER h1::before {
    content: "oix";
    font-size: 1rem;
}

header h3 {
    display: inline-block;
    position: absolute;
    margin: 3rem 1rem 0rem 2rem;
    font-weight: 300;
    letter-spacing: .5rem;
    font-size: .5rem;
    color: white;
}
footer {
    font-size: .5rem;
    padding: .7rem;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5.5rem;
    text-transform: uppercase;
    width: 100%;
    box-shadow: 0 -.1rem 0rem var(--accentColor-light);
}

img.logo {
    left:1rem;
    margin: auto;
    height: 3.5rem;
}

img.room-logo {
    left:1rem;
    margin: auto;
    width: 16rem;
    margin-bottom: 0;
}

.wide {
    background-color: rgba(24, 75, 90, 0.175);
    border-right: none;
    padding: .5rem;
    width: 25rem;
}

.venRegistrar_commonBox {
    position: relative;
    margin: auto;
}

nav {
    position: relative;
    left: 0;
    right: 0;
}

nav ul {
  list-style-type: none; /* Removes bullet points */
  margin: 0;
  padding: 0;
}

nav li a {
  text-decoration: none; /* Removes link underline */
  color: blue;
}
nav li a::before {
    content: "- ";
}


nav li {
  text-decoration: none; /* Removes link underline */
  display: block;        /* Makes the entire area clickable */
  padding: 12px;
  border: 0;
}

.SKY_ATTENDANT {
  font-weight: 900;
  border-bottom: 1px solid var(--accentColor-light2);
  padding: 8px;
}


.ROOM_ID {
  font-weight: 900;
  padding: 8px;
  text-align: center;
    box-shadow: inset 0 0 1rem #fff;
  background-color: var(--accentColor-light2);
  border-bottom: 1px solid var(--accentColor-light2);
  border-top: 1px solid var(--accentColor-light2);
}

.OUTER_CONTAINER {
    position: absolute;
}

.INNER_CONTAINER {
    width: 50rem;
    position: relative;
}


.topNav {
    position: relative;
    flex-direction: column;
    gap: 10px;
    left: 0;
    box-shadow: inset 0 0 1rem #fff;
    background-color: var(--accentColor-light2);
    border-bottom: 2px solid var(--accentColor-light2);
    right: 0;

}

pre {
  font-size: xx-small;
}


.topNav span {
    display: inline-block;
  text-decoration: none; /* Removes link underline */
  padding: 8px 12px;
    
}
.selected {
  background-color: var(--accentColor-dark);
    display: inline-block;
  text-decoration: none; /* Removes link underline */
  padding: 4px 12px;

}
.topNav a {
  text-decoration: none; /* Removes link underline */
  color: var(--accentColor-dark);

}


#reels.reels {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 equal columns */
  gap: 10px; /* Optional: space between items */
}
.cuPOST p {
    background-color: white;
    margin: 10px;
    padding: 4px;
}
.userslug {
    font-family: 'Jersey 10';
    font-size: 1.2rem;
    border-bottom: solid gray 1px;

}
.cuPOST p::after, .cuPOST p::before {
    content: '"';
}

.tile {
    display: inline-block;
width: 16px;
}
h1#magfrag {
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
}

header, footer {
    width: 98% !important;
}

hr {
    border: none;
    height: 1px;
    background-color: rgba(27, 28, 31, 0.24);
}

.top-nav span a {
    color: black;
    padding: 10px;
}

footer {
    font-size: small;
}

div.slug {
    background-color: rgba(255, 255, 255, 0.185);
    padding: 4px;
    border-bottom: solid 1px #aaa;
    font-family: 'Jersey 10';
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
}


h2.slug {
    background-color: rgba(255, 255, 255, 0.185);
    padding: 4px;
    border-bottom: solid 1px #aaa;
    font-family: 'Jersey 10';
    font-size: 1.2rem;
    text-align: left;
    text-transform: uppercase;
}
input, textarea {
    display: flex;
    flex:1;
    font-family: 'Courier New', Courier, monospace;
    padding: 6px;
    font-size: .7rem;
    width: 60%;
}

form {
    position: relative;
}
div.content {
    margin-left: 20px;
    padding: 10px;
}

span.active a {
    font-weight: 600;
    color: blue !important;
    margin-top: -5px;
    background-color: rgba(255, 255, 255, 0.8);
    border: solid 1px rgb(209, 209, 209);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.178);
}

li {
    display: block;
    padding: 4px;
    margin: 0;
    border: solid 1px rgb(250, 250, 250);

}
li.active {
    font-weight: 600;
    color: blue !important;
    background-color: rgba(255, 255, 255, 0.8);
    border: solid 1px rgb(209, 209, 209);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.178);
}

img.logo {
    height: 5rem;
}

header {
    height: 5rem;
}

.listing {
    padding: .5rem;
    display: flex;
}
.listingLink::before {
    content: "[";
    padding-right: .3rem;
}

.listingLink::after {
    padding-left: .3rem;
    content: "]";
}

.listingLink {
    flex: 1;
}

P {
    line-height: 1.4;
}

.MAIN {
    padding: 20px 40px;
}

#room_logo {
    display: block;
  padding: 15px;
  margin-bottom:10px;
  background: #e6e6e6;
  color: #333;
  font-family: "Jersey 10";
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-left: 5px solid #879787; /* Accent color */
  position: relative;
  border: 1px solid rgba(128, 128, 128, 0.24);
  box-shadow: inset 2px 2px 0 white;
}

.other_sections {
    display: block;
  margin-bottom:10px;
  background: #d1dad4;
  color: #333;
  font-family: "Jersey 10";
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-left: 5px solid #879787; /* Accent color */
  position: relative;
  border: 1px solid rgba(128, 128, 128, 0.24);
  box-shadow: inset 2px 2px 0 white;
  text-align: center;

}

.other_sections h3 {
    margin: 10px;
}

.mod-name {
  font-size: 1.6rem;
  position: relative;
  display: block;
  font-family: "Jersey 10";
  font-weight: bold;
  color: #2c3e50;
  line-height: 1;
}

.mod-slug {
  font-family: "Jersey 10";
  position: relative;
  display: block;
  margin-top: .2rem;
    font-size: .5rem;
}

.room-location {

  margin-top: .6rem;
  position: relative;
  display: block;
  font-size: 0.8rem;
  letter-spacing: 2px;
  color: #4d5455;
  font-family: "Jersey 10";
  text-transform: uppercase;
}


.company {
    
  position: relative;
  display: block;
  font-size: 0.8rem;
  letter-spacing: 2px;
  color: #adbdbe;
  text-transform: uppercase;
}

.skyline-publicoffices-frontdesk {
    display: inline-block;
    height: 100px;
}


a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

a::before {
    content: "*";
    padding-right: .3rem;
}

a:hover {
    text-decoration: underline;
}