

/* JULIE ROMS */


#VEN_JULIE.ROMCover {
  height: 144px;
  width: 133px;
  border-radius: 4px;
  background: rgba(145, 74, 165, 0.628);
  box-shadow: 
    0px 2px 10px 1px rgba(0,0,0,0.3),
    inset 0px 0px 10px 2px rgba(255,255,255,0.4),
    inset 0px 0px 0px 1px rgba(255,255,255,0.2),
    inset 0px 0px 2px 2px rgba(207, 8, 252, 0.5);
  border: 1px solid rgba(0,0,0,0.2);
  backdrop-filter: blur(2px);
  position: relative;
  display: grid;
  grid-template-rows:  
  "Logo"
  "Sublogo";
  justify-content: center; 
  align-items: top; 
  cursor: pointer;
  overflow: visible;
}

#VEN_JULIE.ROMCover::before {
    content: "JULIE";
    position: fixed;
      left: 1rem;
    height: .50rem;
    width: 2rem;
    font-size: .4rem;
      text-align: center;
  background: rgba(200, 2, 255, 0.731);
  box-shadow: 
    inset 0px 0px 2px 2px rgba(255, 255, 255, 0.136),
    inset 0px 0px 0px 1px rgba(255,255,255,0.2);
  cursor: pointer;

}

#VEN_JULIE.ROMCover::after {
    content: "";
    position: relative;
    top: 3px;
    background-color: #333;
    box-shadow: 
    inset 0px 0px 10px 2px rgba(79, 71, 71, 0.4),
    inset 0px 0px 0px 1px rgba(255,255,255,0.2);
  border: 1px solid rgba(0,0,0,0.2);
  cursor: pointer;
}

#VEN_JULIE.ROMCover .label {
  cursor: pointer;
  grid-area: Logo;
  display: block;
  position: relative;
    top: 1rem;
  align-items: center;
  text-align: center;
  width: 111px;
  height: 65px;
  line-height: 0.7;
  background-image: linear-gradient(23deg, rgba(76, 54, 135, 0.9), rgba(79, 18, 87, 0.9));
    box-shadow: 0 0 5px rgba(161, 161, 161, 0.452),
    inset 0 1px 1px rgba(8, 9, 38, 0.454);

}

#VEN_JULIE.ROMCover .label .title {
  display: block;
  position: relative;
  top: 8px;
     color: rgb(255, 132, 132);
    font-family: var(--font-boogaloo);
    font-size: 1.4rem;
    text-shadow: 
    0 0 5px #ff0000,
    0 3px 0 rgba(70, 15, 15, 0.444),
    0 0 2px red,
    1px 1px 2px white
}

#VEN_JULIE.ROMCover .label .funtitle {
  display: block;
  position: relative;
  top: 16px;
    font-size: .8rem;
}

#VEN_JULIE.ROMCover .label::before {
  padding: 4px;
  content: "";
  display: block;
  position: absolute;
    top: -4px;
    left: -4px;
  align-items: center;
  text-align: center;
  width: 111px;
  height: 65px;
  box-shadow: 
    0px 0px 2px 2px rgba(207, 8, 252, 0.5);
}